// fonts
@import "../GothamPro/stylesheet.css";

// Components
@import "./components/banner.scss";
@import "./components/partners.scss";
@import "./components/header.scss";
@import "./components/review.scss";
@import "./components/about.scss";
@import "./components/advantages.scss";
@import "./components/services.scss";
@import "./components/form.scss";
@import "./components/contacts.scss";
@import "./components/footer.scss";

// Modal components
@import "./modal/success.scss";

// UI components
@import "./ui/button.scss";
@import "./ui/box.scss";
@import "./ui/swiper.scss";
@import "./ui/runningtext.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham Pro Regular", sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

body    {
    background-color: #EFF0F4;
}

.section-container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 10px;
    overflow: visible;
}

.pagination {
    a {
        text-decoration: none;
        color: black;
        :hover {
            text-decoration: overline;
        }
    }
}

.pagination a:hover {
    text-decoration: underline;
}


.swiper-cards{
    min-height: 300px;
    width: 100%;
    & .swiper-slide-active {
        z-index: 2;
        transform: scale(1.1) !important;
        @media (max-width: 700) {
            transform: scale(1) !important;
        }
      }
}
.swiper-container {
    max-width: 691px;
  }


