.running-text {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}

.text {
    display: flex;
    animation: runningText 15s linear infinite;
    &-container {
        display: flex;
        gap: 20px;
        white-space: nowrap;
        padding-right: 100%;
        font-size: 16px;
        h1 {
            color: #9399A3;
            font-family: Gotham Pro;
            font-size: 40px;
            font-style: normal;
            font-weight: bold;
            line-height: 120%;
        }
    }
}

@keyframes runningText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}