.banner-container {
    width: 100%;
    margin: 0 auto;
    padding: 30px 155px;
    @media (max-width: 640px) {
        padding: 17px 75px;
    }
}

.banner {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: white;
    margin: 0px 10px 15px 10px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    &-content {
        margin-bottom: 73px;
        max-width: 750px;
        padding-top: 142px;
        @media (max-width: 1000px) {
            margin-bottom: calc(13.46154px + 4.59402vw);
            max-width: calc(113.07692px + 49.1453vw);
            padding-left: calc(-21.53846px + 10.14957vw);
            padding-top: calc(111.53846px + 2.35043vw);
        }
        &__items {
            gap: 20px;
            display: flex;
            flex-direction: column;
            h1 {
                color: #42464D;
                font-size: 62px;
                font-style: normal;
                font-weight: bold;
                line-height: 120%;
                span {
                    text-transform: uppercase;
                }
                @media (max-width: 1000px) {
                    font-size: 21px;
                }
            }
            p {
                color: #42464D;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                @media (max-width: 1000px) {
                    font-size: 15px;
                }
            }
            
            img {
                // display: none;
            }
        }
    }
    &-down {
        padding: 0 0 46px 50px;
        a {
            display: flex;
            align-items: center;
            gap: 20px;
            text-decoration: none;
            border: none;
            background: white;
        }
        p {
            color: #84D1D9;
            font-family: Gotham Pro;
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            line-height: 140%
        }
    }
}