.footer {
    border-radius: 32px;
    background: #292D33;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    margin: 10px 10px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    &-copyright {
        color: white;
        opacity: 0.3;
        display: flex;
        justify-content: center;
        padding-bottom: 32px;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
        gap: 10px;
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        &__items {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            @media (min-width: 890px) {
                flex-direction: row;
                align-items: flex-start;
            }

            a {
                text-decoration: none;
                color: white;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        &__contacts {
            display: flex;
            align-items: center;
            gap: 10px;

            @media (min-width: 768px) {
                gap: 20px;
            }
        }
    }
}
